<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- Start Bean 的简单定义  Start-->
	<bean id="address" class="org.ndot.spring25.Address">
		<property name="country" value="china" />
		<property name="city" value="beijing" />
		<property name="street" value="haiding228" />
	</bean>
	<bean id="people" class="org.ndot.spring25.People">
		<property name="name" value="NDot" />
		<property name="sex" value="man" />
		<property name="age" value="26" />
		<property name="address" ref="address" />

	</bean>
	<!-- end Bean 的简单定义  end-->
</beans>