BODY {
	MARGIN-TOP: 0px; BACKGROUND-COLOR: #191e2b
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 24px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; COLOR: #455264; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
.wiki-content H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 24px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; COLOR: #455264; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
.wiki-content H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 5px; PADDING-TOP: 0px; BORDER-BOTTOM: #777777 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent
}
.wiki-content H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 5px; PADDING-TOP: 0px; BORDER-BOTTOM: #777777 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 5px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent
}
.wiki-content H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 5px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent
}
.adobetitle-red A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.adobetitle-red A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.adobetitle-red A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.adobetitle-red A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topheader {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.topmainlinks {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topmainlinks A:hover {
	BACKGROUND-COLOR: #cccccc
}
.searchfield {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whitelinedlinks A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitelinedlinks A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitelinedlinks A:hover {
	TEXT-DECORATION: underline
}
.slidetitle A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #455264; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.slidetitle A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #455264; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.slidetitle A:hover {
	COLOR: #274dac; TEXT-DECORATION: underline
}
.slidetitle {
	MARGIN: 0px auto
}
.slidetext {
	FONT-SIZE: 11px; MARGIN: 0px auto; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sectiontitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.aboutbody {
	FONT-SIZE: 11px; COLOR: #504f4f; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bloginfo {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.blueboldlinks A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #274dac; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blueboldlinks A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #274dac; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blueboldlinks A:hover {
	TEXT-DECORATION: underline
}
.latestblogtext {
	COLOR: #504f4f
}
.footerlinks A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.footerlinks A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.footerlinks A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #cccccc
}
.footercopyright {
	FONT-SIZE: 10px; COLOR: #898889; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.whitepipe {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.sidenavlinks A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #274dac; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidenavlinks A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #274dac; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidenavlinks A:hover {
	TEXT-DECORATION: underline
}
.sidenavtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sidenavtitle-page {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.nocontentlabel {
	FONT-SIZE: 11px
}
.footerpipe {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	COLOR: #274dac; TEXT-DECORATION: none
}
.wiki-content A {
	COLOR: #274dac; TEXT-DECORATION: none
}
A:hover {
	COLOR: #274dac; TEXT-DECORATION: underline
}
.wiki-content A:hover {
	COLOR: #274dac; TEXT-DECORATION: underline
}
.rssMacro B {
	FONT-WEIGHT: normal
}
.rssMacro TD {
	BACKGROUND-COLOR: #ffffff
}
#slide-item {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: url(../images/top_content_back.gif) repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 216px; PADDING-TOP: 0px; HEIGHT: 218px
}
.content-text-style {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; PADDING-BOTTOM: 20px; COLOR: #455264; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.content-text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 388px; PADDING-TOP: 0px
}
.content-title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.quick-links {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #dbdeea; FLOAT: right; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; WIDTH: 200px; PADDING-TOP: 5px
}
#rightnav {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 300px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#rightnav-title {
	PADDING-LEFT: 14px; WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 30px; HEIGHT: 30px; BACKGROUND-COLOR: #8c95ab
}
#rightnav-content {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; MIN-HEIGHT: 111px; BACKGROUND: #dbdeea; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 7px; VERTICAL-ALIGN: top; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 7px
}
#vertical-separator {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/grey_vert_rule.gif) repeat-y; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 27px; PADDING-TOP: 0px
}
